{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block extra_style %}
/* Basic task list styling */
ul.tasks {
  list-style:none;
  margin: 0;
  padding: 0;
}
ul.tasks li {
  display: flex;
  padding: 1rem 0.5rem;
  background: #f8f8f8;
}
ul.tasks li:nth-child(even) {
  background: #f0f0f0;
}

/* Done tasks have strikethrough */
ul.tasks li.done .task {
  text-decoration: line-through;
}

/* Link and button styling */
ul.tasks a {
  color: #333;
  text-decoration: none;
}
ul.tasks a:hover {
  text-decoration: underline;
}
ul.tasks a.button {
  margin-left: auto;
  color: #115599;
}
ul.tasks a.button:hover {
  color: #6699aa;
}

/* Style the task form when we're using HTMX */
ul.tasks li form {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: 2rem;
}
ul.tasks li form [type="text"] {
  margin: 0;
  flex: 1 1 auto;
}
ul.tasks [type="submit"] {
  flex: 0 0 auto;
  margin-left: auto;
}
{% endblock %}

{% block content %}

{% include "tasks/partials/list.html" %}

<ul class="buttons">
  <li>
    <a
      href="{% url "tasks:add" %}"
      hx-get="{% url "tasks:add" %}"
      hx-target=".tasks"
      hx-swap="beforeend"
    >Add task</a>
  </li>
</ul>

{% endblock %}